<% page.posts.each( (post, i) => { %>
  <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
<% }) %>

<%# paginación%>
<% if (page.total > 1){ %>
  <nav id="page-nav">
    <% var prev_text = "<" + __('prev');var next_text = __('next') + ">"%>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </nav>
<% } %>
